{% extends 'base.html' %}

{% block title %}اختبار الرطوبة{% endblock %}
{% block header %}اختبار الرطوبة{% endblock %}

{% block content %}
<div class="container mx-auto mt-2 p-6 bg-white shadow-lg rounded-lg">
       <div class="container px-2 py-6">
        <div class="bg-gray-50  border border-gray-200 rounded-lg w-full p-4 mb-6">
            <h2 class="text-2xl font-semibold text-center text-gray-800 mb-4">تفاصيل العينة</h2>
            <div class="input-grid-read mb-6">
                <div class="input-container-read mt-3">
                    <label class="text-gray-600 text-lg">رقم العينة</label>
                    <input type="text" value="{{ sample.sample_id }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                </div> 

                <div class="input-container-read mt-3">
                    <label class="text-gray-600 text-lg"> المحصول والصنف</label>
                    <input type="text" value="{{ sample.crop_name }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                </div>

                

                <div class="input-container-read mt-3">
                    <label class="text-gray-600 text-lg">تاريخ التبليغ</label>
                    <input type="text" value="{{ sample.result_date }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                </div>
                
                <div class="input-container-read mt-3">
                        <label class="text-gray-900 text-lg">نوع الفحص</label>
                        <textarea class="read-only-input rounded-md shadow-sm text-lg" readonly>{{ sample.test_type }}</textarea>
                </div>
            </div>
        </div>
    </div>

    <form method="post" class="space-y-6">
        {% csrf_token %}
        <h1 class="text-2xl font-bold mt-2 text-center text-gray-800">أداء اختبار الرطوبة</h1>

        <!-- Additional Fields Container -->
        <div class="bg-gray-50 border border-gray-200 rounded-lg p-4 mb-6">
            <h2 class="text-xl font-semibold text-gray-800 mb-4">تفاصيل الاختبار</h2>
            <div class="space-y-4 grid grid-cols-1 md:grid-cols-4 gap-6">
                
                <!-- Category Field -->
                <div>
                    <label for="Category" class="block text-lg font-medium text-gray-700 mb-2 mt-4">اسم المحصول</label>
                    <input type="text" name="Category" id="Category" value="{{ form.Category.value }}" class="w-full border border-gray-500 rounded-md p-2" step="any">
                    <!-- Error for Category Field -->
                    {% if form.Category.errors %}
                        <p class="text-red-600 text-sm">{{ form.Category.errors.0 }}</p>
                    {% endif %}
                </div>
        
                <!-- Examination Method Field -->
                <div>
                    <label for="examination_method" class="block text-lg font-medium text-gray-700 mb-2">طريقة الفحص</label>
                    <select name="examination_method" id="examination_method" class="w-full border text-center border-gray-500 rounded-md p-2">
                        {% for choice in form.examination_method.field.choices %}
                            <option value="{{ choice.0 }}" {% if choice.0 == form.examination_method.value %}selected{% endif %}>{{ choice.1 }}</option>
                        {% endfor %}
                    </select>
                    <!-- Error for Examination Method Field -->
                    {% if form.examination_method.errors %}
                        <p class="text-red-600 text-sm">{{ form.examination_method.errors.0 }}</p>
                    {% endif %}
                </div>
        
                <!-- Oven Temperature Field -->
                <div>
                    <label for="oven_temperature" class="block text-lg font-medium text-gray-700 mb-2">درجة حرارة الفرن</label>
                    <input type="number" name="oven_temperature" id="oven_temperature" value="{{ form.oven_temperature.value|stringformat:'s' }}" class="w-full border border-gray-500 rounded-md p-2" step="any">
                    <!-- Error for Oven Temperature Field -->
                    {% if form.oven_temperature.errors %}
                        <p class="text-red-600 text-sm">{{ form.oven_temperature.errors.0 }}</p>
                    {% endif %}
                </div>
        
                <!-- Number of Drying Hours Field -->
                <div>
                    <label for="number_of_drying_hours" class="block text-lg font-medium text-gray-700 mb-2">عدد ساعات التجفيف</label>
                    <input type="number" name="number_of_drying_hours" id="number_of_drying_hours" value="{{ form.number_of_drying_hours.value|stringformat:'s' }}" class="w-full border border-gray-500 rounded-md p-2" step="any">
                    <!-- Error for Number of Drying Hours Field -->
                    {% if form.number_of_drying_hours.errors %}
                        <p class="text-red-600 text-sm">{{ form.number_of_drying_hours.errors.0 }}</p>
                    {% endif %}
                </div>
        
            </div>
        </div>

    
    

        <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
            <div class="p-4 bg-gray-50 border border-gray-200 rounded-lg shadow-sm space-y-4">
                <div>
                    <label for="initial_weight" class="block text-lg font-bold text-gray-700 mb-2 text-center ">وزن العينة الواردة </label>
                    <input type="number" name="initial_weight" id="initial_weight" value="{{ form.initial_weight.value|stringformat:'s' }}" class="w-full border border-gray-500 rounded-md p-2" step="any">
                </div>
            <div>
                <label for="unit_of_measure" class="block text-lg font-bold text-gray-700 mb-2 text-center ">وحدة القياس </label>
                <select name="unit_of_measure" id="unit_of_measure" class="w-full border text-center border-gray-500 rounded-md p-2">
                        {% for choice in form.unit_of_measure.field.choices %}
                            <option value="{{ choice.0 }}" {% if choice.0 == form.unit_of_measure.value %}selected{% endif %}>{{ choice.1 }}</option>
                        {% endfor %}
                </select>
            
            </div>
        </div>
            
            <!-- Sample A Fields -->
            <div class="p-4 bg-gray-50 border border-gray-200 rounded-lg shadow-sm space-y-4">
                <h2 class="text-xl font-semibold text-gray-800 mb-4">عينة أ</h2>
                <div>
                    <label for="sample_a_empty_box_weight" class="block text-lg font-medium text-gray-700 mb-2">وزن العلبة الفارغة لعينة أ</label>
                    <input type="number" name="sample_a_empty_box_weight" id="sample_a_empty_box_weight" value="{{ form.sample_a_empty_box_weight.value }}" class="w-full border border-gray-500 rounded-md p-2" step="any">
                </div>
                <div>
                    <label for="sample_a_sample_weight_before_drying" class="block text-lg font-medium text-gray-700 mb-2">وزن العينة العملية أ</label>
                    <input type="number" name="sample_a_sample_weight_before_drying" id="sample_a_sample_weight_before_drying" value="{{ form.sample_a_sample_weight_before_drying.value }}" class="w-full border border-gray-500 rounded-md p-2" step="any">
                </div>
                <div>
                    <label for="sample_a_sample_weight_after_drying" class="block text-lg font-medium text-gray-700 mb-2">وزن العينة بعد التجفيف  أ</label>
                    <input type="number" name="sample_a_sample_weight_after_drying" id="sample_a_sample_weight_after_drying" value="{{ form.sample_a_sample_weight_after_drying.value }}" class="w-full border border-gray-500 rounded-md p-2" step="any">
                </div>
                <div>
                    <label for="sample_a_result" class="block text-lg font-medium text-gray-700 mb-2">ناتج عينة أ</label>
                    <input type="number" name="result_a" id="result_a" value="{{ form.result_a.value|stringformat:'s' }}" class="w-full border border-gray-500 rounded-md p-2" step="any">
                </div>
            </div>

            <!-- Sample B Fields -->
            <div class="p-4 bg-gray-50 border border-gray-200 rounded-lg shadow-sm space-y-4">
                <h2 class="text-xl font-semibold text-gray-800 mb-4">عينة ب</h2>
                <div>
                    <label for="sample_b_empty_box_weight" class="block text-lg font-medium text-gray-700 mb-2">وزن العلبة الفارغة لعينة ب</label>
                    <input type="number" name="sample_b_empty_box_weight" id="sample_b_empty_box_weight" value="{{ form.sample_b_empty_box_weight.value }}" class="w-full border border-gray-500 rounded-md p-2" step="any">
                </div>
                <div>
                    <label for="sample_b_sample_weight_before_drying" class="block text-lg font-medium text-gray-700 mb-2">وزن العينة العملية ب</label>
                    <input type="number" name="sample_b_sample_weight_before_drying" id="sample_b_sample_weight_before_drying" value="{{ form.sample_b_sample_weight_before_drying.value }}" class="w-full border border-gray-500 rounded-md p-2" step="any">
                </div>
                <div>
                    <label for="sample_b_sample_weight_after_drying" class="block text-lg font-medium text-gray-700 mb-2">وزن العينة بعد التجفيف  ب</label>
                    <input type="number" name="sample_b_sample_weight_after_drying" id="sample_b_sample_weight_after_drying" value="{{ form.sample_b_sample_weight_after_drying.value }}" class="w-full border border-gray-500 rounded-md p-2" step="any">
                </div>
                <div>
                    <label for="sample_b_result" class="block text-lg font-medium text-gray-700 mb-2">ناتج عينة ب</label>
                    <input type="number" name="result_b" id="result_b" value="{{ form.result_b.value|stringformat:'s' }}" class="w-full border border-gray-500 rounded-md p-2" step="any">
                </div>
            </div>
        </div>
            
        <div class="p-4 bg-gray-50 border border-gray-200 rounded-lg shadow-sm space-y-4 flex justify-center">
            <div>
                <label for="humidity" class="block text-lg font-bold text-gray-700 mb-2 text-center">نتيجة الفحص</label>
                <input type="number" name="humidity" id="humidity" value="{{ form.humidity.value|stringformat:'s' }}" class="w-full border border-gray-500 rounded-md p-2" step="any">
                <!-- Error for Humidity Field -->
                {% if form.humidity.errors %}
                    <p class="text-red-600 text-sm text-center">{{ form.humidity.errors.0 }}</p>
                {% endif %}
            </div>
        </div>

    
        <div class="mt-6 text-center " >
        <button type="button" onclick="calculateResults()" class="mt-4 bg-blue-500 text-white rounded-md px-4 py-2">احسب النتائج</button>

            <button type="submit" class="w-[10%] bg-[#2a9d8f] text-white py-2 px-4 rounded-md hover:bg-[#268d81] focus:outline-none focus:ring-2 focus:ring-bg-[#268d81]">حفظ
            <i class="fas fa-save ml-2"></i>

            </button>
        </div>

    </form>
</div>

<script>
function calculateResults() {
    const sampleAEmptyBoxWeight = parseFloat(document.getElementById('sample_a_empty_box_weight').value);
    const sampleASampleWeightBeforeDrying = parseFloat(document.getElementById('sample_a_sample_weight_before_drying').value);
    const sampleASampleWeightAfterDrying = parseFloat(document.getElementById('sample_a_sample_weight_after_drying').value);
    const initial_weight = parseFloat(document.getElementById('initial_weight').value);
    const sampleBEmptyBoxWeight = parseFloat(document.getElementById('sample_b_empty_box_weight').value);
    const sampleBSampleWeightBeforeDrying = parseFloat(document.getElementById('sample_b_sample_weight_before_drying').value);
    const sampleBSampleWeightAfterDrying = parseFloat(document.getElementById('sample_b_sample_weight_after_drying').value);

    let sampleAResult = 0;
    let sampleBResult = 0;

    // Calculate results for sample A
    if (!isNaN(sampleAEmptyBoxWeight) && !isNaN(sampleASampleWeightBeforeDrying) && !isNaN(sampleASampleWeightAfterDrying)) {
        sampleAResult = (((sampleASampleWeightBeforeDrying + sampleAEmptyBoxWeight) - (sampleASampleWeightAfterDrying))/4.512) * 100;
        document.getElementById('result_a').value = sampleAResult.toFixed(2);

        console.log('sampleAResult',sampleAResult)
    }

    // Calculate results for sample B
    if (!isNaN(sampleBEmptyBoxWeight) && !isNaN(sampleBSampleWeightBeforeDrying) && !isNaN(sampleBSampleWeightAfterDrying)) {
        sampleBResult = (((sampleBSampleWeightBeforeDrying +sampleBEmptyBoxWeight) - (sampleBSampleWeightAfterDrying))/sampleBSampleWeightBeforeDrying) * 100;

        document.getElementById('result_b').value = sampleBResult.toFixed(2);
    }

    // Calculate average result and set it to humidity
    const averageResult = (sampleAResult + sampleBResult) / 2;
    document.getElementById('humidity').value = averageResult.toFixed(2);
}
</script>

{% endblock %}
