{% extends 'base.html' %}

{% block title %}مختبر صحة البذور  {% endblock %}
{% block header %}مختبر صحة البذور {% endblock %}

{% block content %}

<div class="container mx-auto p-6 bg-white border border-gray-300 rounded-lg shadow-md">
     <div class="container px-2 py-6">
        <div class="bg-gray-50  border border-gray-200 rounded-lg w-full p-4 mb-6">
            <h2 class="text-2xl font-semibold text-center text-gray-800 mb-4">تفاصيل العينة</h2>
            <div class="input-grid-read mb-6">
                <div class="input-container-read mt-3">
                    <label class="text-gray-600 text-lg">رقم العينة  ( الرقم المختبري)</label>
                    <input type="text" value="{{ sample.sample_id }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                </div>

                <div class="input-container-read mt-3">
                    <label class="text-gray-600 text-lg"> المحصول والصنف</label>
                    <input type="text" value="{{ sample.crop_name }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                </div>


                
                <div class="input-container-read mt-3">
                    <label class="text-gray-600 text-lg">نوع المعاملة</label>
                    <input type="text" value="{{ sample.treatment_type }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                </div>
                    <div class="input-container-read mt-3">
                        <label class="text-gray-900 text-lg">نوع الفحص</label>
                        <textarea class="read-only-input rounded-md shadow-sm text-lg" readonly>{{ sample.test_type }}</textarea>
                    </div>


            </div>
        </div>
    </div>

<form method="post" class="space-y-6">
    {% csrf_token %}

    <h1 class="text-2xl font-bold mt-2 text-center text-gray-800">اختبارات الصحة</h1>



<!-- Fungal Examination Formset -->
<div class="bg-gray-50 border border-gray-200 rounded-lg p-4 mb-6">
    <h2 class="text-xl font-semibold text-gray-800 mb-4">الفحص الفطري</h2>
    {{ fungal_examination_formset.management_form }}
    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-6">
        {% for form in fungal_examination_formset %}
            <div class="bg-white border border-gray-200 rounded-lg p-4 mb-4">
                {{ form.as_p }}
                {% if form.errors %}
                    <div class="text-red-600 mt-2">
                        {{ form.errors }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

<div class="bg-gray-50 border border-gray-200 rounded-lg p-4 mb-6">
    <h2 class="text-xl font-semibold text-gray-800 mb-4">الفحص الحشري</h2>
    {{ insect_examination_formset.management_form }}
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for form in insect_examination_formset %}
            <div class="bg-white border border-gray-200 rounded-lg p-4 mb-4">
                {{ form.as_p }}
                {% if form.errors %}
                    <div class="text-red-600 mt-2">
                        {{ form.errors }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>


<!-- Health Test Form Errors -->
{% if health_test_form.errors %}
    <div class="bg-red-50 border border-red-200 text-red-600 rounded-lg p-4 mb-6">
        {{ health_test_form.errors }}
    </div>
{% endif %}


    <!-- Nematode Test Form -->
    <div class="bg-gray-50 border border-gray-200 rounded-lg p-4 mb-6">
        <h2 class="text-xl font-semibold text-gray-800 mb-4">فحص النيماتودا</h2>
        <div class="space-y-4 grid grid-cols-1">
            <div>
                <label for="warts_count" class="block text-lg font-medium text-gray-700 mb-2">عدد الثآليل</label>
                {{ nematode_test_form.warts_count }}
            </div>
        </div>
    </div>
    <!-- Viral Test Form -->
{#    <div class="bg-gray-50 border border-gray-200 rounded-lg p-4 mb-6">#}
{#        <h2 class="text-xl font-semibold text-gray-800 mb-4">الفحص الفايروسي</h2>#}
{#        <div class=" grid grid-cols-1 md:grid-cols-3 gap-6">#}
{#            <div>#}
{#                <label for="infection_type" class="block text-lg font-medium text-gray-700 ">نوع الإصابة</label>#}
{#                {{ viral_test_form.infection_type }}#}
{#            </div>#}
{#            <div>#}
{#                <label for="cause" class="block text-lg font-medium text-gray-700 ">المسبب </label>#}
{#                {{ viral_test_form.cause }}#}
{#            </div>#}
{#            <div>#}
{#                <label for="infection_rate" class="block text-lg font-medium text-gray-700 mb-2">نسبة الإصابة</label>#}
{#                {{ viral_test_form.infection_rate }}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    <!-- Bacterial Examination Form -->
{#    <div class="bg-gray-50 border border-gray-200 rounded-lg p-4 mb-6">#}
{#        <h2 class="text-xl font-semibold text-gray-800 mb-4">فحص البكتيريا</h2>#}
{#        <div class=" grid grid-cols-1 md:grid-cols-4 gap-6">#}
{#            <div>#}
{#                <label for="infection_type" class="block text-lg font-medium text-gray-700 ">نوع الإصابة</label>#}
{#                {{ bacterial_examination_form.infection_type }}#}
{#            </div>#}
{#            <div>#}
{#                <label for="cause" class="block text-lg font-medium text-gray-700 ">المسبب </label>#}
{#                {{ bacterial_examination_form.cause }}#}
{#            </div>#}
{#            <div>#}
{#                <label for="damage_percentage" class="block text-lg font-medium text-gray-700 ">نسبة الأضرار</label>#}
{#                {{ bacterial_examination_form.damage_percentage }}#}
{#            </div>#}
{#            <div>#}
{#                <label for="greenness_percentage" class="block text-lg font-medium text-gray-700">نسبة الأخضرار</label>#}
{#                {{ bacterial_examination_form.greenness_percentage }}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}






        <!-- Health Test Form -->
    <div class="bg-gray-50 border border-gray-200 rounded-lg p-4 mb-6">
        <div class="space-y-4 grid grid-cols-1 md:grid-cols-2 gap-6">
            <div>
                <label for="note" class="block text-lg font-medium text-gray-700 mb-2">ملاحظة</label>
                {{ health_test_form.note }}
            </div>

        </div>
    </div>
    <!-- Submit Button -->
    <div class="mt-6 text-center">
        <button type="submit" class="w-[10%] bg-[#2a9d8f] text-white py-2 px-4 rounded-md hover:bg-[#268d81] focus:outline-none focus:ring-2 focus:ring-bg-[#268d81]">حفظ
            <i class="fas fa-save ml-2"></i>
        </button>
    </div>



</form>


    
    
    
</div>

{% endblock %}
