{% extends "base.html" %}
{% block header %}{{ user.profile.name }}{% endblock %}

{% block content %}


        <div class="container   px-4 py-6 ">
            <div class="bg-white shadow-md w-full rounded-lg p-10 mb-6 ">
            {% if user.profile.user_role in " Manager" %}
            <div class="text-center mb-4">
                <a href="{% url 'sample:generate_certificate' sample.id %}"
                   class="inline-flex items-center text-white text-center bg-[#2a9d8f] hover:bg-[#247d73] px-4 py-2 rounded transition-colors duration-200 ease-in-out">
                    <i class="fas fa-certificate text-lg ml-2"></i>
                    <span>عرض الشهادة</span>
                </a>
            </div>
            {% endif %}

                <h2 class="text-2xl font-semibold text-center text-gray-800 mb-4">تفاصيل العينة</h2>
                <div class="input-grid-read ">
                {% if user.profile.user_role in " Altarmiz Manager" %}
                    <div class="input-container-read mt-3">
                            <label class="text-gray-900 text-lg">رقم الأرسالية  </label>
                        <input type="text" value="{{ sample.distinguishing_marks }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                    </div>
                <div class="input-container-read mt-3">
                        <label class="text-gray-900 text-lg">وزن الأرسالية</label>
                        <input type="text" value="{{ sample.shipment_weight }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                    </div>

                    <div class="input-container-read mt-3">
                        <label class="text-gray-900 text-lg">وحدة القياس </label>
                        <input type="text" value="{{ sample.get_unit_of_measure_display }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                    </div>


                    <div class="input-container-read mt-3">
                        <label class="text-gray-900 text-lg">الموقع (عائدية البذور) </label>
                        <input type="text" value="{{ sample.location }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                    </div>

                    <div class="input-container-read mt-3">
                        <label class="text-gray-900 text-lg"> الجهة المرسلة (أسم الشركة)</label>
                        <input type="text" value="{{ sample.sender_name }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                    </div>


                    <div class="input-container-read mt-3">
                            <label class="text-gray-900 text-lg"> القائم بالسحب</label>
                            <input type="text" value="{{ sample.the_draw }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                        </div>
                <div class="input-container-read mt-3">
                        <label class="text-gray-900 text-lg">تاريخ السحب</label>
                        <input type="text" value="{{ sample.withdrawal_date }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                    </div>


                    <div class="input-container-read mt-3">
                        <label class="text-gray-900 text-lg">نوع البذور </label>
                        <input type="text" value="{{ sample.get_batch_number_display }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                    </div>
                {% endif %}




                {% if user.profile.user_role in " Applicant Manager" %}
                    <div class="input-container-read mt-3">
                        <label class="text-gray-900 text-lg">رقم الأرسالية  </label>
                        <input type="text" value="{{ sample.distinguishing_marks }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                    </div>
                    <div class="input-container-read mt-3">
                        <label class="text-gray-900 text-lg"> المحصول والصنف</label>
                        <input type="text" value="{{ sample.crop_name }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                    </div>



                    <div class="input-container-read mt-3">
                        <label class="text-gray-900 text-lg">رقم العينة (الرقم المختبري)</label>
                        <input type="text" value="{{ sample.sample_id }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                    </div>






                    <div class="input-container-read mt-3">
                        <label class="text-gray-900 text-lg">نوع العينة</label>
                        <input type="text" value="{{ sample.sample_type }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                    </div>



                    <div class="input-container-read mt-3">
                        <label class="text-gray-900 text-lg">تاريخ الاستلام</label>
                        <input type="text" value="{{ sample.received_date }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                    </div>


                    <div class="input-container-read mt-3">
                        <label class="text-gray-900 text-lg"> القائم بالتقسيم</label>
                        <input type="text" value="{{ sample.the_divider }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                    </div>

                    <div class="input-container-read mt-3">
                        <label class="text-gray-900 text-lg">نوع الفحص</label>
                        <input type="text" value="{{ sample.test_type }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                    </div>




                    <div class="input-container-read mt-3">
                        <label class="text-gray-900 text-lg">نوع المعاملة</label>
                        <input type="text" value="{{ sample.treatment_type }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                    </div>


                    {% if user.profile.user_role in " Manager" %}
                    <div class="input-container-read mt-3">
                        <label class="text-gray-900 text-lg">حالة المختبرات من الفحص</label>
                        <input type="text" value="{{ sample.lab_status }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                    </div>
                    {% endif %}



                    <div class="input-container-read mt-3">
                        <label class="text-gray-900 text-lg">تاريخ التبليغ </label>
                        <input type="text" value="{{ sample.result_date }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                    </div>
                    {% if sample.test_date %}
                        <div class="input-container-read mt-3">
                            <label class="text-gray-900 text-lg">تاريخ الفحص</label>
                            <input type="text" value="{{ sample.test_date }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                        </div>
                    {% endif %}

                </div>

            {% endif %}
            </div>
        </div>


        <!-- <div class="bg-white shadow-sm rounded-lg p-6 mb-6">
            <h2 class="text-xl font-semibold text-gray-800 mb-4">التعيينات</h2>
            <ul class="space-y-2">

                {% for assignment in assignments %}
                    <li class="border-b border-gray-200 pb-2 mb-2">
                        <strong class="text-gray-900 text-lg">معمل</strong> {{ assignment.lab.name }}<br>
                        <strong class="text-gray-900 text-lg">تاريخ التعيين</strong> {{ assignment.assigned_date }}<br>
                        <strong class="text-gray-900 text-lg">مكتمل</strong> {% if assignment.completed %} نعم {% else %} لا {% endif %}
                    </li>
                {% empty %}
                    <li>لا توجد تعيينات لهذه العينة.</li>
                {% endfor %}
            </ul>
        </div> -->

        <div class="bg-white shadow-md rounded-lg p-6 mb-6 ">
            <h2 class="text-xl font-semibold text-gray-800 mb-4">التعيينات</h2>
            <div class="overflow-x-auto mt-6">
                <table class="min-w-full bg-white border border-gray-300 rounded-lg shadow-md">
                    <thead>
                        <tr class="bg-gray-100 text-gray-900 border-b border-gray-300">
                            <th class="px-6 py-3 text-right text-sm font-semibold">المختبر </th>
                            <th class="px-6 py-3 text-right text-sm font-semibold">تاريخ التعيين</th>
                            <th class="px-6 py-3 text-right text-sm font-semibold">حالة الأختبار</th>
                            <!-- <th class="px-6 py-3 text-right text-sm font-semibold">الإجراء</th> -->
    
    
                        </tr>
                    </thead>
                    <tbody>
                        {% for assignment in assignments %}
                        <tr class="hover:bg-gray-400 hover:bg-opacity-25 transition duration-300 ease-in-out">
                            <td class="px-6 py-4 text-sm border-b border-gray-200">{{assignment.lab.name}}</td>
                            <td class="px-6 py-4 text-sm border-b border-gray-200">{{ assignment.assigned_date }}</td>
                            <td class="px-6 py-4 text-sm border-b border-gray-200">
                                {% if  assignment.completed == True %}
                                <span
                                    class="inline-flex items-center px-3 py-1 rounded-full text-xs font-semibold bg-green-100 text-green-800 shadow-sm w-24">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1 text-green-800" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                                    </svg>
                                   منجزة
                                </span>
                                {% else %}
                                <span
                                    class="inline-flex items-center px-3 py-1 rounded-full text-xs font-semibold bg-red-100 text-red-800 shadow-sm w-24">
                                    <!-- <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1 text-red-800" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                    </svg> -->
                                    غير منجزة بعد
                                </span>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
{% if user.profile.user_role in "  Manager" %}
        <div class="bg-white shadow-md rounded-lg p-6 mb-6">
            <h2 class="text-xl font-semibold text-gray-800 mb-4">نتائج الاختبارات</h2>
            <div class="flex border-b border-gray-200">
                <button class="tab-button py-2 px-4 text-gray-900 text-lg hovertext-gray-900" data-tab="plant-tests">اختبارات النبات</button>
                <button class="tab-button py-2 px-4 text-gray-900 text-lg hovertext-gray-900" data-tab="health-tests">اختبارات الصحة</button>
                <button class="tab-button py-2 px-4 text-gray-900 text-lg hovertext-gray-900" data-tab="purity-tests">اختبارات النقاوة</button>
                <button class="tab-button py-2 px-4 text-gray-900 text-lg hovertext-gray-900" data-tab="moisture-tests">اختبارات الرطوبة</button>
            </div>

            <div class="tab-content" id="plant-tests">
                <div class="input-grid-read mt-3">
                    {% for test in plant_tests %}
                        {% if test.natural_percentage is not None or test.hard_percentage is not None %}
                            <div class="input-container-read mt-3">
                                <label class="text-gray-900 text-lg">نسبة البذور الطبيعية</label>
                                <input type="text" value="%{{ test.natural_percentage }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                            </div>
                            <div class="input-container-read mt-3">
                                <label class="text-gray-900 text-lg"> نسبة البذور الصلبة</label>
                                <input type="text" value="%{{ test.hard_percentage }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                            </div>
                        {% else %}
                            <li>لا توجد نتائج لاختبارات النبات لهذه العينة.</li>
                        {% endif %}
                    {% empty %}
                        <li>لا توجد نتائج لاختبارات النبات لهذه العينة.</li>
                    {% endfor %}
                </div>
            </div>

    <div class="tab-content " id="health-tests">
            {% if health_tests != None %}
               <table class="min-w-full bg-white border border-gray-300 rounded-lg mt-4 shadow-md">
                <thead>
                    <tr class="bg-gray-100 text-gray-600 border-b border-gray-300">
                        <!-- First header group (Insect Test) -->
                        <th class="px-6 py-3 text-lg font-semibold border border-gray-300 text-center" colspan="3">الفحص الحشري Insect Test</th>
                        <!-- Second header group (Fungi Test) -->
                        <th class="px-6 py-3 text-lg font-semibold border border-gray-300 text-center" colspan="2">الفحص الفطري Fungi Test</th>
                        <th class="px-6 py-3 text-lg font-semibold border border-gray-300 text-center" rowspan="2">عدد ثاليل النيماتودا Nematoda No</th>
                    </tr>
                    <tr class="bg-gray-100 text-gray-600 border-b border-gray-300">
                        <!-- Sub-headers for Insect Test -->
                        <th class="px-6 py-3 text-lg font-semibold border border-gray-300 text-right">نوع الأصابة Infected Type</th>
                        <th class="px-6 py-3 text-lg font-semibold border border-gray-300 text-right">المسبب Insect</th>
                        <th class="px-6 py-3 text-lg font-semibold border border-gray-300 text-right">%</th>
                        <!-- Sub-headers for Fungi Test -->
                        <th class="px-6 py-3 text-lg font-semibold border border-gray-300 text-right">المسبب المرضي Pathogen</th>
                        <th class="px-6 py-3 text-lg font-semibold border border-gray-300 text-right">%</th>
                    </tr>
                </thead>
                <tbody class="bg-white">
                {% for insect, fungal in combined_examinations %}
                <tr class="bg-gray-50 text-gray-600 border-b border-gray-300">
                    <!-- Insect Examination values -->
                    {% if insect %}
                        <td class="px-6 py-4 text-md border border-gray-300">{{ insect.infection_type.name }}</td>
                        <td class="px-6 py-4 text-md border border-gray-300">{{ insect.cause.name }}</td>
                        <td class="px-6 py-4 text-md border border-gray-300">{{ insect.infection_percentage|floatformat:1 }}</td>
                    {% else %}
                        <td class="px-6 py-4 text-md border border-gray-300"></td>
                        <td class="px-6 py-4 text-md border border-gray-300"></td>
                        <td class="px-6 py-4 text-md border border-gray-300"></td>
                    {% endif %}

                    <!-- Fungal Examination values -->
                    {% if fungal %}
                        <td class="px-6 py-4 text-md border border-gray-300">{{ fungal.cause.name }}</td>
                        <td class="px-6 py-4 text-md border border-gray-300">{{ fungal.infection_percentage|floatformat:1 }}</td>
                    {% else %}
                        <td class="px-6 py-4 text-md border border-gray-300">No fungal examination</td>
                        <td class="px-6 py-4 text-md border border-gray-300"></td>
                    {% endif %}

                    <!-- Nematode Test: Single value, display only for the first row -->
                    {% if forloop.first %}
                        <td class="px-6 py-4 text-md border border-gray-300">{{ nematode_tests.warts_count }}</td>
                    {% else %}
                        <td class="px-6 py-4 text-md border border-gray-300"></td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>

            {% else %}
                <li class="mt-4">لا توجد نتائج لاختبارات الصحة لهذه العينة</li>
            {% endif %}
            </div>


        <div class="tab-content" id="purity-tests">
                <div class="input-grid-read  mt-3 ">
                    {% for test in purity_tests %}
                        <div class="input-container-read mt-3">
                            <label class="text-gray-900 text-lg">نسبة البذور النقية </label>
                            <input type="text" value=" %{{ test.purity_percentage }} " class="read-only-input rounded-md shadow-sm text-lg" readonly />
                        </div>
                        <div class="input-container-read mt-3">
                            <label class="text-gray-900 text-lg">نسبة المواد الخاملة </label>
                            <input type="text" value="%{{ test.inert_materials_percentage }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                        </div>
                        <div class="input-container-read mt-3">
                            <label class="text-gray-900 text-lg">نسبة المواد الأخرى </label>
                            <input type="text" value="%{{ test.other_seeds_percentage }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                        </div>
                        <div class="input-container-read mt-3">
                            <label class="text-gray-900 text-lg">تاريخ الفحص</label>
                            <input type="text" value="{{ test.test_date }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                        </div>

                    {% empty %}
                    <li>لا توجد نتائج لاختبارات النقاوة لهذه العينة</li>

                    {% endfor %}
                </div>
            </div>

            <div class="tab-content" id="moisture-tests">
                <div class="input-grid-read  mt-3 ">
                    {% for test in moisture_tests %}
                        <div class="input-container-read mt-3">
                            <label class="text-gray-900 text-lg">نسبة الرطوبة</label>
                            <input type="text" value="%{{ test.humidity }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                        </div>
                        <div class="input-container-read mt-3">
                            <label class="text-gray-900 text-lg">طريقة الفحص
                            </label>
                            <input type="text" value="{{ test.get_examination_method_display }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                        </div>
                        <div class="input-container-read mt-3">
                            <label class="text-gray-900 text-lg">تاريخ الفحص</label>
                            <input type="text" value="{{ test.test_date }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                        </div>
                    {% empty %}
                        <li>لا توجد نتائج لاختبارات الرطوبة لهذه العينة.</li>
                    {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
{% if user.profile.user_role in " Manager" %}
      <form method="POST">
    {% csrf_token %}
    <div>
      <label for="id_notes">الملاحضات</label>
      {{ notes_form.note }}
    </div>
    <button type="submit" class="px-8 py-3 bg-[#2a9d8f] text-white font-semibold rounded-md shadow-sm hover:bg-[#24877c] transition duration-300 ease-in-out">تحديث الملاحضات</button>
  </form>
    {% endif %}

    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const tabs = document.querySelectorAll('.tab-button');
            const tabContents = document.querySelectorAll('.tab-content');

            tabs.forEach(tab => {
                tab.addEventListener('click', () => {
                    // Remove 'active' class from all tabs and tab contents
                    tabs.forEach(t => t.classList.remove('active'));
                    tabContents.forEach(tc => tc.classList.remove('active'));

                    // Add 'active' class to the clicked tab and corresponding tab content
                    tab.classList.add('active');
                    document.getElementById(tab.dataset.tab).classList.add('active');
                });
            });

            // Set the first tab as active by default
            if (tabs.length > 0) {
                tabs[0].classList.add('active');
                tabContents[0].classList.add('active');
            }
        });
    </script>

{% endblock %}
