{% extends "base.html" %}
{% block header %}{{ user.profile.name }}{% endblock %}

{% block content %}


        <div class="container   px-4 py-6 ">
            <div class="bg-white shadow-md w-full rounded-lg p-10 mb-6 ">
                <h2 class="text-2xl font-semibold text-center text-gray-800 mb-4">تفاصيل العينة</h2>
                <div class="input-grid-read ">
                    <div class="input-container-read mt-3 ">
                        <label class="text-gray-900 text-lg ">نوع المحصول</label>
                        <input type="text" value="{{ sample.crop_type }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                    </div>
                    <div class="input-container-read mt-3">
                        <label class="text-gray-900 text-lg">الصنف</label>
                        <input type="text" value="{{ sample.variety }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                    </div>
                    <div class="input-container-read mt-3">
                        <label class="text-gray-900 text-lg">الرتبة</label>
                        <input type="text" value="{{ sample.grade }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                    </div>
                    <div class="input-container-read mt-3">
                        <label class="text-gray-900 text-lg">نوع العينة</label>
                        <input type="text" value="{{ sample.sample_type }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                    </div>
                    <div class="input-container-read mt-3">
                        <label class="text-gray-900 text-lg">نوع الفحص</label>
                        <input type="text" value="{{ sample.test_type }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                    </div>
                    <div class="input-container-read mt-3">
                        <label class="text-gray-900 text-lg">اسم المحصول</label>
                        <input type="text" value="{{ sample.crop_name }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                    </div>
                    <div class="input-container-read mt-3">
                        <label class="text-gray-900 text-lg">العلامات المميزة</label>
                        <input type="text" value="{{ sample.distinguishing_marks }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                    </div>
                    <div class="input-container-read mt-3">
                        <label class="text-gray-900 text-lg">الجهة المرسلة</label>
                        <input type="text" value="{{ sample.sender_name }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                    </div>
                    <div class="input-container-read mt-3">
                        <label class="text-gray-900 text-lg">معمل التنقية</label>
                        <input type="text" value="{{ sample.purification_lab }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                    </div>
                    <div class="input-container-read mt-3">
                        <label class="text-gray-900 text-lg">تاريخ سحب العينات</label>
                        <input type="text" value="{{ sample.sample_date }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                    </div>
                    <div class="input-container-read mt-3">
                        <label class="text-gray-900 text-lg">تاريخ الاستلام</label>
                        <input type="text" value="{{ sample.received_date }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                    </div>
                    <div class="input-container-read mt-3">
                        <label class="text-gray-900 text-lg">تاريخ الفحص</label>
                        <input type="text" value="{{ sample.test_date }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                    </div>
                    <div class="input-container-read mt-3">
                        <label class="text-gray-900 text-lg">تاريخ استلام النتائج</label>
                        <input type="text" value="{{ sample.result_date }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                    </div>
                    <div class="input-container-read mt-3">
                        <label class="text-gray-900 text-lg">وزن الأرسالية</label>
                        <input type="text" value="{{ sample.shipment_weight }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                    </div>
                    <div class="input-container-read mt-3">
                        <label class="text-gray-900 text-lg">رقم الوجبة</label>
                        <input type="text" value="{{ sample.batch_number }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                    </div>
                    <div class="input-container-read mt-3">
                        <label class="text-gray-900 text-lg">رقم العينة</label>
                        <input type="text" value="{{ sample.sample_id }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                    </div>
                    <div class="input-container-read mt-3">
                        <label class="text-gray-900 text-lg">حالة المختبرات من الفحص</label>
                        <input type="text" value="{{ sample.lab_status }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                    </div>
                    <div class="input-container-read mt-3">
                        <label class="text-gray-900 text-lg">نوع المعاملة</label>
                        <input type="text" value="{{ sample.treatment_type }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="bg-white shadow-sm rounded-lg p-6 mb-6">
            <h2 class="text-xl font-semibold text-gray-800 mb-4">التعيينات</h2>
            <ul class="space-y-2">
                {% for assignment in assignments %}
                    <li class="border-b border-gray-200 pb-2 mb-2">
                        <strong class="text-gray-900 text-lg">معمل</strong> {{ assignment.lab.name }}<br>
                        <strong class="text-gray-900 text-lg">تاريخ التعيين</strong> {{ assignment.assigned_date }}<br>
                        <strong class="text-gray-900 text-lg">مكتمل</strong> {% if assignment.completed %} نعم {% else %} لا {% endif %}
                    </li>
                {% empty %}
                    <li>لا توجد تعيينات لهذه العينة.</li>
                {% endfor %}
            </ul>
        </div> -->

        <div class="bg-white shadow-md rounded-lg p-6 mb-6 ">
            <h2 class="text-xl font-semibold text-gray-800 mb-4">التعيينات</h2>
            <div class="overflow-x-auto mt-6">
                <table class="min-w-full bg-white border border-gray-300 rounded-lg shadow-md">
                    <thead>
                        <tr class="bg-gray-100 text-gray-900 border-b border-gray-300">
                            <th class="px-6 py-3 text-right text-sm font-semibold">المختبر </th>
                            <th class="px-6 py-3 text-right text-sm font-semibold">تاريخ التعيين</th>
                            <th class="px-6 py-3 text-right text-sm font-semibold">حالة الأختبار</th>
                            <!-- <th class="px-6 py-3 text-right text-sm font-semibold">الإجراء</th> -->
    
    
                        </tr>
                    </thead>
                    <tbody>
                        {% for assignment in assignments %}
                        <tr class="hover:bg-gray-400 hover:bg-opacity-25 transition duration-300 ease-in-out">
                            <td class="px-6 py-4 text-sm border-b border-gray-200">{{assignment.lab.name}}</td>
                            <td class="px-6 py-4 text-sm border-b border-gray-200">{{ assignment.assigned_date }}</td>
                            <td class="px-6 py-4 text-sm border-b border-gray-200">
                                {% if  assignment.completed == True %}
                                <span
                                    class="inline-flex items-center px-3 py-1 rounded-full text-xs font-semibold bg-green-100 text-green-800 shadow-sm w-24">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1 text-green-800" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                                    </svg>
                                   منجزة
                                </span>
                                {% else %}
                                <span
                                    class="inline-flex items-center px-3 py-1 rounded-full text-xs font-semibold bg-red-100 text-red-800 shadow-sm w-24">
                                    <!-- <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1 text-red-800" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                    </svg> -->
                                    غير منجزة بعد
                                </span>
                                {% endif %}
                            </td>
        
        
        
                            <!-- <td class="px-6 py-4 text-sm border-b border-gray-200">
                                <div class="inline-flex items-center space-x-4">
                                    <a href="{% url 'sample:sample_detail' sample.id %}"
                                        class="text-[#2a9d8f] hover:text-[#247d73] flex items-center space-x-1 transition-colors duration-200 ease-in-out">
                                        <i class="fas fa-eye text-lg ml-1"></i>
                                        <span class="text-[#2a9d8f] hover:text-[#247d73]">عرض</span>
                                    </a>
                                </div>
                            </td> -->
        
        
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>















        <div class="bg-white shadow-md rounded-lg p-6 mb-6">
            <h2 class="text-xl font-semibold text-gray-800 mb-4">نتائج الاختبارات</h2>
            <div class="flex border-b border-gray-200">
                <button class="tab-button py-2 px-4 text-gray-900 text-lg hovertext-gray-900" data-tab="plant-tests">اختبارات النبات</button>
                <button class="tab-button py-2 px-4 text-gray-900 text-lg hovertext-gray-900" data-tab="health-tests">اختبارات الصحة</button>
                <button class="tab-button py-2 px-4 text-gray-900 text-lg hovertext-gray-900" data-tab="purity-tests">اختبارات النقاوة</button>
                <button class="tab-button py-2 px-4 text-gray-900 text-lg hovertext-gray-900" data-tab="moisture-tests">اختبارات الرطوبة</button>
            </div>





            <div class="tab-content" id="plant-tests">
                <div class="input-grid-read  mt-3 ">
                    {% for test in plant_tests %}
                        <div class="input-container-read mt-3">
                            <label class="text-gray-900 text-lg">نسبة البذور الطبيعية</label>
                            <input type="text" value="%{{ test.natural_percentage }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                        </div>
                        <div class="input-container-read mt-3">
                            <label class="text-gray-900 text-lg"> نسبة البذور الصلبة
                            </label>
                            <input type="text" value="%{{ test.hard_percentage }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                        </div>
                    {% empty %}
                        <li>لا توجد نتائج لاختبارات النبات لهذه العينة.</li>
                    {% endfor %}
                </div>
            </div>


            <div class="tab-content " id="health-tests">
                <div class="input-grid-read  mt-3 ">
                    {% for test in health_tests %}
                        <div class="input-container-read mt-3">
                            <label class="text-gray-900 text-lg">نسبة الإصابة الحشرية</label>
                            <input type="text" value=" %{{ test.pest_infestation_percentage }} " class="read-only-input rounded-md shadow-sm text-lg" readonly />
                        </div>

                        <div class="input-container-read mt-3">
                            <label class="text-gray-900 text-lg">نسبة الإصابة البكتيرية</label>
                            <input type="text" value="%{{ test.bacterial_infestation_percentage }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                        </div>
                        <div class="input-container-read mt-3">
                            <label class="text-gray-900 text-lg">نسبة الإصابة الفيروسية</label>
                            <input type="text" value="%{{ test.viral_infestation_percentage }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                        </div>
                        <div class="input-container-read mt-3">
                            <label class="text-gray-900 text-lg">نسبة الأضرار</label>
                            <input type="text" value="%{{ test.damage_percentage }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                        </div>
                        <!-- Add more fields as needed -->
                        <div class="input-container-read mt-3">
                            <label class="text-gray-900 text-lg">نسبة الجرب العادي</label>
                            <input type="text" value="%{{ test.fungal_examination.common_scabies }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                        </div>
                        <div class="input-container-read mt-3">
                            <label class="text-gray-900 text-lg">نسبة الجرب الفضي</label>
                            <input type="text" value="%{{ test.fungal_examination.silver_scabies }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                        </div>
                        <div class="input-container-read mt-3">
                            <label class="text-gray-900 text-lg">Fusarium</label>
                            <input type="text" value="%{{ test.fungal_examination.fusarium }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                        </div>

                        <div class="input-container-read mt-3">
                            <label class="text-gray-900 text-lg">Rhizoctonia</label>
                            <input type="text" value="%{{ test.fungal_examination.fusarium }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                        </div>
                            
                        </div>
                    {% empty %}
                    <li>لا توجد نتائج لاختبارات الصحة لهذه العينة</li>

                    {% endfor %}
                </div>


                
            
            <div class="tab-content" id="purity-tests">


                <div class="input-grid-read  mt-3 ">
                    {% for test in purity_tests %}
                        <div class="input-container-read mt-3">
                            <label class="text-gray-900 text-lg">نسبة البذور النقية </label>
                            <input type="text" value=" %{{ test.purity_percentage }} " class="read-only-input rounded-md shadow-sm text-lg" readonly />
                        </div>
                        <div class="input-container-read mt-3">
                            <label class="text-gray-900 text-lg">نسبة المواد الخاملة </label>
                            <input type="text" value="%{{ test.inert_materials_percentage }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                        </div>
                        <div class="input-container-read mt-3">
                            <label class="text-gray-900 text-lg">نسبة المواد الأخرى </label>
                            <input type="text" value="%{{ test.other_seeds_percentage }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                        </div>
                        <div class="input-container-read mt-3">
                            <label class="text-gray-900 text-lg">تاريخ الفحص</label>
                            <input type="text" value="{{ test.test_date }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                        </div>

                        <!-- Add more fields as needed -->
                    {% empty %}
                    <li>لا توجد نتائج لاختبارات النقاوة لهذه العينة</li>

                    {% endfor %}
                </div>


            </div>

            <div class="tab-content" id="moisture-tests">

                <div class="input-grid-read  mt-3 ">
                    {% for test in moisture_tests %}
                        <div class="input-container-read mt-3">
                            <label class="text-gray-900 text-lg">نسبة الرطوبة</label>
                            <input type="text" value="%{{ test.humidity }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                        </div>
                        <div class="input-container-read mt-3">
                            <label class="text-gray-900 text-lg">طريقة الفحص
                            </label>
                            <input type="text" value="{{ test.get_examination_method_display }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                        </div>
                        <div class="input-container-read mt-3">
                            <label class="text-gray-900 text-lg">تاريخ الفحص</label>
                            <input type="text" value="{{ test.test_date }}" class="read-only-input rounded-md shadow-sm text-lg" readonly />
                        </div>
                    {% empty %}
                        <li>لا توجد نتائج لاختبارات الرطوبة لهذه العينة.</li>
                    {% endfor %}
            </div>





        </div>

<button> 

    <a href="{% url 'sample:generate_certificate'  %}"
    class="text-[#2a9d8f] hover:text-[#247d73] flex items-center space-x-1 transition-colors duration-200 ease-in-out">
    <i class="fas fa-eye text-lg ml-1"></i>
    <span class="text-[#2a9d8f] hover:text-[#247d73]">عرض</span>
</a>
</button>

        </div>


        
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const tabs = document.querySelectorAll('.tab-button');
            const tabContents = document.querySelectorAll('.tab-content');

            tabs.forEach(tab => {
                tab.addEventListener('click', () => {
                    // Remove 'active' class from all tabs and tab contents
                    tabs.forEach(t => t.classList.remove('active'));
                    tabContents.forEach(tc => tc.classList.remove('active'));

                    // Add 'active' class to the clicked tab and corresponding tab content
                    tab.classList.add('active');
                    document.getElementById(tab.dataset.tab).classList.add('active');
                });
            });

            // Set the first tab as active by default
            if (tabs.length > 0) {
                tabs[0].classList.add('active');
                tabContents[0].classList.add('active');
            }
        });
    </script>

{% endblock %}
