body {
    font-family: 'Cairo', sans-serif;
    background-color: #f8f9fa;
    color: #212529;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    width: 250px;
    background: #343a40;
    color: #fff;
    min-height: 100vh;
}

#sidebar ul.components {
    padding: 20px;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    background: #6c757d;
    color: #fff;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}
